<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Request Assigned</h1>
<p>
  The following request has been assigned to you.<br>
</p>
<p>
  To login to the site and check the status of your request, just follow this link: <%= @url %>.
</p>
<hr/>
<p>
	<%= @body %>
</p>


</body>
</html>